{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <title>Your Shopping Cart</title>
    <link rel="icon" type="image/png" href="{% static 'cart/image/cart.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<body class="bg-balance">
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.picture %}
                                    {{ product.picture.url }}
                                {% else %}
                                    {% static "shop/image/no_image.jpg" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">Remove</a></td>
                    <td class="num">{{ item.price }}</td>
                    <td class="num">{{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "item_list" %}" class="button light" style="text-decoration:none">Continue shopping</a>
        <a href="#" class="button" style="text-decoration:none">Checkout</a>
    </p>
</body>
{% endblock %}