{% extends 'base.html' %}
{% load static %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>
{% endblock %}

{% block body %}
<body class="bg-login">
<div style="margin-left: 810px; margin-top: 350px">
<form method="post">
    {% csrf_token %}
    <div style="margin-bottom: 15px">
        <input type="text" name="username" class="input-reg" placeholder="Username">
    </div>
    <div style="margin-bottom: 20px">
        <input type="password" name="password" class="input-reg" placeholder="Password">
    </div>
    <button type="submit" class="reg-button">Login</button>
</form>
</div>
</body>
{% endblock %}