{% extends 'base.html' %}
{% load static %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>
{% endblock %}

{% block body %}
<body class="bg-reg">
<div class="reg-form-center">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="reg-button">Register</button>
</form>
</div>
</body>
{% endblock %}